// Fontes
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

// Cores
$cor-clara1: #fff;
$cor-clara2: #d0d1d2;
$cor-escura1: #000;
$cor-escura2: #393c41;

// Funcoes
@mixin texto-1($tamanho, $cor) {
  font: 400 $tamanho "Roboto", sans-serif;
  color: $cor;
  letter-spacing: 2px;
}

@mixin texto-2($tamanho, $cor) {
  font: 500 $tamanho "Roboto", sans-serif;
  color: $cor;
  letter-spacing: 2px;
}

@import "geral";
@import "menu";
@import "destaque";
@import "conteudo";
@import "rodape";
