// Fontes
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

// Cores
$cor-clara1: #fff;

// Funcoes
@mixin texto-1($tamanho, $cor) {
  font: 400 $tamanho "Roboto", sans-serif;
  color: $cor;
  letter-spacing: 2px;
}

@import "geral";
@import "menu";
@import "destaque";
