@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background: #fff;
}

main {
  width: 1200px;
  margin: 0 auto;
}

.menu:hover .link-principal, .menu.menu-escuro .link-principal {
  color: #000 !important;
}

.menu:hover .logo svg, .menu.menu-escuro .logo svg,
.menu:hover .item-lupa svg,
.menu.menu-escuro .item-lupa svg,
.menu:hover .item-carrinho svg,
.menu.menu-escuro .item-carrinho svg {
  fill: #000 !important;
}

.menu:hover .menu-item h3, .menu.menu-escuro .menu-item h3,
.menu:hover .menu-item a,
.menu.menu-escuro .menu-item a {
  color: #000 !important;
}

.menu {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}

.menu .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .logo svg {
  width: 100px;
  fill: #fff;
}

.menu .logo .link-principal {
  font: 400 14px "Roboto", sans-serif;
  color: #fff;
  letter-spacing: 2px;
}

.menu .logo .link-principal::before {
  content: "|";
  padding: 0 16px;
}

.menu .menu-lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .menu-lista .menu-item h3,
.menu .menu-lista .menu-item a {
  display: block;
  cursor: pointer;
  padding: 0 15px;
  font: 400 14px "Roboto", sans-serif;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 52px;
}

.menu .menu-lista .menu-item .item-lupa svg {
  fill: #fff;
  display: block;
  padding: 18px 0;
  height: 16px;
  width: 16px;
}

.menu .menu-lista .menu-item .item-carrinho svg {
  fill: #fff;
  display: block;
  padding: 15px 0;
  height: 22px;
  width: 22px;
}

.menu .submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  padding: 60px 100px 100px;
  position: absolute;
  top: 52px;
  right: 0;
  left: 0;
}

.menu .submenu div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 12px;
}

.menu .submenu div a {
  display: block;
  font: 400 14px "Roboto", sans-serif;
  color: #000;
  letter-spacing: 2px;
  line-height: 34px;
}

.menu .submenu div .submenu-titulo {
  font: 500 14px "Roboto", sans-serif;
  color: #000;
  letter-spacing: 2px;
  border-bottom: 5px solid #d0d1d2;
  padding-bottom: 18px;
  margin-bottom: 30px;
}

.menu .submenu .submenu-destaque {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.menu .submenu .submenu-destaque img {
  width: 100%;
}

.menu .submenu .submenu-destaque h4 {
  margin-top: 24px;
  text-align: center;
  font: 500 24px "Roboto", sans-serif;
  color: #393c41;
  letter-spacing: 2px;
}

.menu:hover {
  background: #fff !important;
}

.conteudo .linha {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.conteudo .linha .coluna {
  padding: 12px 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.conteudo .linha .coluna + .coluna {
  padding-left: 24px;
}

.conteudo .conteudo-area {
  display: block;
  position: relative;
}

.conteudo .conteudo-area + .conteudo-area {
  margin-top: 16px;
}

.conteudo .conteudo-area img {
  display: block;
  width: 100%;
}

.conteudo .conteudo-area h3 {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  line-height: 40px;
  margin-top: -20px;
  text-align: center;
  font: 500 24px "Roboto", sans-serif;
  color: #000;
  letter-spacing: 2px;
}

.conteudo .conteudo-area.conteudo-texto-claro h3 {
  color: #fff;
}

.conteudo .conteudo-area.conteudo-topo h3 {
  top: 20%;
  margin-top: 0;
}

.conteudo .conteudo-area.conteudo-esquerda h3 {
  left: 15%;
  text-align: left;
}

.conteudo .conteudo-area.conteudo-texto-direita h3 {
  right: 15%;
  text-align: right;
}

.conteudo .conteudo-area:hover img {
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
  -webkit-box-shadow: 1px 1px 4px #d0d1d2;
          box-shadow: 1px 1px 4px #d0d1d2;
}

footer {
  padding: 27px 0;
}

footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer nav ul li {
  padding: 8px 16px 8px 0px;
}

footer nav ul li a {
  font: 500 12px "Roboto", sans-serif;
  color: #393c41;
  letter-spacing: 2px;
}

footer nav ul li a:hover {
  color: #000;
}
/*# sourceMappingURL=style.css.map */